#menu {
	
	margin: 0 auto;
	-margin-bottom: 20px;
	z-index: 99;
	position: relative;
}
#menu .center {
	-margin-left: 7px;
	-margin-right: 7px;
	-background: url('menu_center.png') repeat-x;
	border-radius:10px;
	height: 40px;
	position: relative;
	padding-top: 12px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
}
#menu .center ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: url('transparent.png');
	z-index: 1;
	cursor: pointer;
}
#menu .center a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
}
#menu .center li .top {
	font: 15px Arial;
	font-weight: bold;
	padding: 0px 0px 15px 13px;
	margin: 0px 12px 0px 0px;
	height: 25px;
	display: block;
}
#menu .center li .top span {
	font: 15px Arial;
	font-weight: bold;
	padding: 4px 13px 4px 1px;
	color: #FFFFFF;
	display: block;
}
#menu .center ul li {
	-padding: 2px;
}
#menu .center li.selected:hover > a {
	clear: both;
	background-color: orange;
}
#menu .center li.selected > a.top, #menu .center li:hover > a.top {
	-background: url('selected_left.png') top left no-repeat;
	-background-color: orange;
}
#menu .center li.selected > a.top span, #menu .center li:hover > a.top span {
	-background: url('selected_right.png') top right no-repeat;
	-background-color: orange;
}
#menu .center .parent {
	-background: url('arrow_right.png') 95% center no-repeat;
	-background-color: orange;
}
#menu .center .parent:hover {
	-background: #333 url('arrow_right.png') 95% center no-repeat;
	-background-color: orange;
}
#menu .center li {
	float: left;
	list-style: none;
}
#menu .center li ul {
	position: absolute;
	z-index: 100;
}
#menu .center li li {
	clear: both;
}
#menu .center li ul a {
	color: #FFFFFF;
	height: 15px;
	width: 145px;
}
#menu .center li ul ul {
	margin: -27px 0 0 157px;
}
#menu .center li li:hover {
	background: #333;
	color: #000000;
}
#menu .center ul ul {
	display: none;
}
#menu .center ul li:hover > ul {
	display: block;